/* Background
bck = background and plt=palette */
.bcg_plt_beige {
    background-color: #EBBD85;
}

.bcg_plt_golden {
    background-color: #a08b28;
}

.bcg_plt_brown {
    background-color: #926F56;
}

/* color */
.plt_golden {
    color: #a08b28;
}

.plt_brown {
    color: #926F56;
}

.plt_beige {
    color: #EBBD85;
}

/* font-family
ff=font-family */
@font-face {
    font-family: "arabic";
    src: url("../Font/Arabic\ Typesetting/arabic_typesetting.ttf");
}

.ff_arabic_btn {
    font-family: "arabic";
    font-size: 1.5em;
}

.ff_arabic {
    font-family: "arabic";
    font-size: 1.5em;
}

@font-face {
    font-family: "andalus";
    src: url("../Font/Andalus/andalus.ttf");
}

.ff_andalus {
    font-family: "andalus";
}